<div class="header-wrapper border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="home">XAPOS 259</a>
            <button class="navbar-toggler" type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" 
                [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item"
                [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/category">Category</a>
                </li>
                <li class="nav-item"
                [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/variant">Variant</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" type="submit" (click)="onLogout()">Log Out</button>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</div>
