<div class="container">
    <div class="row content">
        <div class="col md-6 mb-3">
            <img src="../../../assets/svg/signup.svg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-6">
            <h3 class="signin-text mb-3">Sign Up</h3>

        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" [(ngModel)]="register.username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="register.password">
            </div>
            <div class="form-group">
                <label for="password">E-mail</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="register.email">
            </div>
                <p><button class="btn btn-class" (click)="authRegister()">Register</button></p>
            <div>
                <button class="btn btn-class" (click)="move_to_login()">Login Now!</button>
            </div>
        </form>
        </div>
    </div>
</div>